/* Import font for business name */
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

/* Capitol logo in header */
#logo {
    max-width: 70px;
    height: auto;
    margin: none;
    padding-top: 12px;
}

/* Header business name */
.head-text {
    display: inline-flex;
}

#UBar {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: 700;
    padding-top: 30px;
}

#Madison {
    color:crimson;
    font-family:'Borel';
    font-size: 24px;
    font-weight: 600;
    padding-top: 31px;
}


/* Horizontal line */
hr {
    margin-top: -30px;
    border: 1px solid;
}

/* Back button to go back to homepage*/
#back_button {
    background-color: rgb(221, 9, 9);
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* General text for the webpage */
.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}


/* Drop down menu to select bar */
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#bars {
    width: 60%;
    height: 40px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(192, 190, 190);
    border-radius: 5px;
}


/* Slider Bar for wait time */
.slider {
    position: relative;
    left: 8%;
    width: 80%;
    height: 10px;
    border-radius: 10px;  
}

.wait-time-text {
display: inline-flex;
text-align: center;
}

#wait-minutes {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
    padding-left: 130px;
}

#minutes {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
    padding-left: 20px;
}


/* Drop down for accepted or rejected */
#get-in {
    width: 30%;
    height: 40px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(192, 190, 190);
    border-radius: 5px;
}


/* Button to add experience*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#insert-input {
    background-color:rgb(36, 179, 7);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Popup container */
.popupContainer {
    width: 100%;
    height: 100;
    outline:rgb(36, 179, 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
  
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 100%;
    height: 100%;
    background: white;
}

.popup img {
    width: 100px;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    border: 0;
    background: green;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
