<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBar</title>
    <script src="../script.js"></script>
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <headerNav>
        <div class="headerNav">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html"> About</a></li>
                <li><a href="contactUs.html">Contact Us</a></li>
            </ul>
        </div>
    </headerNav>

    <header>
            <div class="header-content">
                <div class="head-text">
                    <p id="Madison"></p>
                </div>
            </div>
    </header>

    <div class="page-container">
        <br>


        <!-- Section informing users what UBar is about -->
        <section class="about-section">
            <div class="about-content">
                <br>
                <hr class="light-break">
                <h1>Your Nightlife Navigator</h1>
                <p>Welcome to UBar Madison, your go-to source for bar acceptance and wait times in Madison, Wisconsin. We're dedicated to providing you with accurate and up-to-date information about the best bars in town.</p>
                <p>As students here at UW-Madison we will do our best in helping you find the perfect spot for a night out. We understand the struggle in waiting for long bar lines and are hoping to assist you in finding the perfect spot to crack some cold ones for Madtown.</p>
                <p>Explore our website to discover real-time wait times, bar ratings, and essential details about each bar's atmosphere, bar's acceptance, and more. We're here to make your nightlife experience in Madison memorable and enjoyable.</p>
                
                <br>

            </div>
        </section>

        <br>

        <!-- Footer -->
        <footer>
            <div class ="footerContainer">
                <div class="socialIcons">
                    <a href="https://www.instagram.com/ubarmadison/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="footerNav">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="about.html"> About</a></li>
                        <li><a href="contactUs.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>