<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Experience</title>
    <script src="../script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/addBar.css">
</head>
<body>
    <!-- Header containing logo, name, and horizontal line -->
    <header>
        <div class="header-content">
            <img id="logo" src="../images/Capital.png" alt="Capitol">
            <div class="head-text">
                <p id="UBar">UBar-</p>
                <p id="Madison">&nbsp;Madison</p>
            </div>
            <hr>
        </div>
    </header>

    <div class="back_button">
        <button onclick="goToHomePage('home.html')" id="back_button">Cancel</button>
    </div>

    <form id="inputForm" method="POST">
        <div class="add-input">
            <div>
                <p class="text">What bar did you visit?</p>
                <!--Drop down menu with all of the bars-->
                <div class="dropdown">
                    <select name="bars" id="bars" required>
                        <option selected hidden value="base"> -- select an option -- </option>
                        <option value="Chaser's 2.0">Chaser's 2.0</option>
                        <option value="Churchkey Bar and Grill">Churchkey Bar and Grill</option>
                        <option value="City Bar">City Bar</option>
                        <option value="Danny's Pub">Danny's Pub</option>
                        <option value="Jordan's Big Ten Pub">Jordan's Big Ten Pub</option>
                        <option value="Lucky's 1313 Brew Pub">Lucky's 1313 Brew Pub</option>
                        <option value="Monday's Bar">Monday's Bar</option>
                        <option value="Sconnie Bar">Sconnie Bar</option>
                        <option value="The Double U">The Double U</option>
                        <option value="The Kollege Klub">The Kollege Klub</option>
                        <option value="State Street Brats">State Street Brats</option>
                        <option value="Wando's Bar and Grill">Wando's Bar and Grill</option>
                    </select>
                </div>
            </div>

            <div>
                <p class="text">How long was your wait time?</p>
                <div class="wait-time-text">
                    <p id="wait-minutes">0</p>
                    <p id="minutes">minutes</p>
                </div>
                <!--Slider bar with times in 5 minute intervals-->
                <div class="slidecontainer">
                    <input name="slider" type="range" min="0" max="60" value="0" step="5" class="slider" id="myRange" onclick="updateTimeSlider()">
                </div>
            </div>

            <div>
                <p class="text">Did you get accepted or rejected?</p>
                <!--Accepted and rejected buttons, only one can be selected-->
                <div class="dropdown">
                    <select name="get-in" id="get-in" required>
                        <option selected hidden value="base"> -- select -- </option>
                        <option value="Accepted">Accepted</option>
                        <option value="Rejected">Rejected</option>
                    </select>
                </div>
            </div>

            <br>
            <br>

            <!-- Popup thanking user for submitting details, sends them back to home page -->
            <div class="popupContainer">
                <button type="submit" class="btn" onclick="validate()" id="insert-input">Submit</button>
                <div class="popup" id="popup">
                    <img id="popup img" src="../images/Tick.png" alt="Tick">
                    <h2>Thank You!</h2>
                    <p>Your details have been successfully submitted. Thanks!</p>
                    <button type="button" onclick="goToHomePage('home.html')">OK</button>
                </div>
            </div>

        </div>
    </form>
</body>
</html>