<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBar</title>
    <script src="../script.js"></script>
    <link rel="stylesheet" href="../static/contactUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <headerNav>
        <div class="headerNav">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html"> About</a></li>
                <li><a href="contactUs.html">Contact Us</a></li>
            </ul>
        </div>
    </headerNav>

    <header>
        <div class="header-content">
            <div class="head-text">
                <p id="Madison"></p>
            </div>
        </div>
    </header>   

    <div class="page-container">
        <br>

        <!-- Section informing users what UBar is about -->
        <section class="contactUs-section">
            <div class="contactUs-content">
                <br>
                <hr class="light-break">
                <h1>Contact Us</h1>
                
                <p>We greatly value your opinions and suggestions. Your feedback helps us improve and provide you with the best possible experience. Please don't hesitate to share your thoughts with us – whether it's a compliment, a concern, or an idea for improvement. We're here to listen and make your experience even better!</p>

                <br>

                <p>Email: <b>admin@ubarmadison.com</b></p>

                <!-- If we want red text bo -->
                <!-- <section class="red-text-box">
                    <div class="text-box-content">
                        <p>We greatly value your opinions and suggestions. Your feedback helps us improve and provide you with the best possible experience.</p>
                        <br>
                        <p>Email: <u><b>admin@ubarmadison.com</b></u></p>
                    </div>
                </section> -->
                
                <br>

            </div>
        </section>

        <!-- Footer -->
        <footer>
            <div class ="footerContainer">
                <div class="socialIcons">
                    <a href="https://www.instagram.com/ubarmadison/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="footerNav">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="about.html"> About</a></li>
                        <li><a href="contactUs.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>