<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBar</title>
    <script src="../script.js"></script>
    <link rel="stylesheet" href="../static/contactUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Header containing logo, name, and horizontal line -->
    <header>
        <div class="header-content">
            <img id="logo" src="../images/Capital.png" alt="Capitol">
            <div class="head-text">
                <p id="UBar">UBar-</p>
                <p id="Madison">&nbsp;Madison</p>
            </div>
            <hr class="break">
        </div>
    </header>

    <!-- Section giving the user the opportunity to contact UBar -->
    <div class="container">
        <h1>Contact Us</h1>
        <p>If you have any questions or feedback, feel free to get in touch with us.</p><br>

        <form action="submit_form.php" method="post">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" required><br><br><br>
            
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" required><br><br><br>

            <label for="message">Message: </label>
            <textarea id="message" name="message" rows="10" required></textarea><br><br><br>

        </form>
    </div>

    <!-- Popup thanking user for submitting details, sends them back to home page -->
    <div class="popupContainer">
        <button type="submit" class="btn" onclick="openPopup()" id="insert-input">Submit</button>
        <div class="popup" id="popup">
            <img id="popup img" src="../images/Tick.png" alt="Tick">
            <h2>Thank You!</h2>
            <p>Your details have been successfully submitted. Thanks!</p>
            <button type="button" onclick="goToHomePage('home.html')">OK</button>
        </div>
    </div>

    <br>
    <br>

    <!-- Footer -->
    <footer>
        <div class ="footerContainer">
            <div class="socialIcons">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html"> About</a></li>
                    <li><a href="contactUs.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>