<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBar</title>
    <script src="../script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <headerNav>
        <div class="headerNav">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html"> About</a></li>
                <li><a href="contactUs.html">Contact Us</a></li>
            </ul>
        </div>
    </headerNav>

    <header>
            <div class="header-content">
                <div class="head-text">
                    <p id="Madison"></p>
                </div>
            </div>
    </header>

    <!-- Section to get user to add their own input -->
    
    <addExp>
        <div class="addExpText">
            <p class="white-box"><center>Add Your Experience Here!</center></p>
            <div class="button">
                <button onclick="goToAddPage('addBar.html')" id="insert-input">ADD</button>
            </div>
        </div>
    </addExp>

    <div class="subHeader-content">
        <hr class="headerLight-break">
        <h1>Madison's Top Bars - Current Wait Times, Acceptance Rates, and Ratings</h1>
    </div>

    <!-- List containing most popular bars, hardcoded for now -->
    <div class="section-content">
        <img id="logo" src="../images/Chasers.png" alt="Chasers" class="image-large">
        <div class="text-container">
            <p>Chasers 2.0 &emsp; 4.2 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p>
            <p>408 W Gorham St, Madison, WI, 53703</p><br>
            <p>Accepted or Denied?</p><br>
        </div>
    </div>
        
        <!-- Bar Graph -->
        <label class="graph-text-container" id="chasersAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="chasersTime" >--</label>
        <label class="time-text-container"> minutes</label>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Churchkey.png" alt="Churchkey" class="image-large">
        <div class="text-container">
            <p>Churchkey Bar and Grill &emsp; 4.1 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p>
            <p>626 University Ave, Madison, WI, 53715</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <label class="graph-text-container" id="churchkeyAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="churchkeyTime" >--</label>
        <label class="time-text-container"> minutes</label>     
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/City.png" alt="City" class="image-large">
        <div class="text-container">
            <p>City Bar &emsp; 4.1 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p> 
            <p>636 State St, Madison, WI, 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <label class="graph-text-container" id="cityAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="cityTime">--</label>
        <label class="time-text-container"> minutes</label>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Dannys.png" alt="Dannys" class="image-large">
        <div class="text-container">
            <p>Danny's Pub &emsp; 4.2 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p>
            <p>328 W Gorham St, Madison, WI 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <label class="graph-text-container" id="dannysAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="dannysTime" >--</label>
        <label class="time-text-container"> minutes</label>      
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Luckys.png" alt="Luckys" class="image-large">
        <div class="text-container">
            <p>Lucky's 1313 Brew Pub &emsp; 4.1 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p>
            <p>1313 Regent St, Madison, WI 53715</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <label class="graph-text-container" id="lucksAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="lucksTime">--</label>
        <label class="time-text-container"> minutes</label>   
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Sconnies.png" alt="Sconnies" class="image-large">
        <div class="text-container">
            <p>Sconnie Bar &emsp; 4.4 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p> 
            <p>1421 Regent St, Madison, WI, 53711</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <label class="graph-text-container" id="sconniesAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="sconniesTime">--</label>
        <label class="time-text-container"> minutes</label>      
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Brats.png" alt="Brats" class="image-large">
        <div class="text-container">
            <p>State Street Brats &emsp; 4.1 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p> 
            <p>603 State St 1015, Madison, WI, 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <label class="graph-text-container" id="bratsAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="bratsTime">--</label>
        <label class="time-text-container"> minutes</label>      
    </div>
    
    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/DoubleU.png" alt="DoubleU" class="image-large">
        <div class="text-container">
            <p>The Double U &emsp; 3.6 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p>
            <p>620 University Ave, Madison, WI 53715</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <label class="graph-text-container" id="doubleuAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="doubleuTime">--</label>
        <label class="time-text-container"> minutes</label>   
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/KollegeKlub.png" alt="KollegeKlub" class="image-large">
        <div class="text-container">
            <p>The Kollege Klub &emsp; 3.6 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p> 
            <p>529 N Lake St, Madison, WI 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <label class="graph-text-container" id="kollegeKlubAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="kollegeKlubTime">--</label>
        <label class="time-text-container"> minutes</label>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Wandos.png" alt="Wandos" class="image-large">
        <div class="text-container">
            <p>Wando's Bar and Grill &emsp; 4.0 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p> 
            <p>602 University Ave, Madison, WI 53715</p><br>
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <label class="graph-text-container" id="wandosAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="wandosTime">--</label>
        <label class="time-text-container"> minutes</label>      
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/WhiskeyJacks.png" alt="WhiskeyJacks" class="image-large">
        <div class="text-container">
            <p>Whiskey Jack's Saloon &emsp; 3.8 &nbsp;
                <span style="display: inline-block;"> 
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/RedStar.png" alt="RedStar" class="image-small">
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small"> 
                <img id="star" src="../images/GrayStar.png" alt="GrayStar" class="image-small">
                </span>
            </p> 
            <p>552 State St, Madison, WI 53703</p><br>
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <label class="graph-text-container" id="WhiskeyJacksAccept">--</label>
        <label class="graph-text-container" id="accepted">% Accepted</label>

        <br>
        <br>

        <!-- Wait time -->
        <label class="text-container">Wait Time: </label>
        <label class="time-text-container" id="WhiskeyJacksTime">--</label>
        <label class="time-text-container"> minutes</label>    
    </div>

    <br>
    <div id="responsecontainer" align="center">

    </div>
    <!-- Footer -->
    <footer>
        <div class ="footerContainer">
            <div class="socialIcons">
                <a href="https://www.instagram.com/ubarmadison/"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html"> About</a></li>
                    <li><a href="contactUs.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function() {
            $.ajax({
                type: "GET", 
                url: "../dynamics/waitTime.php", 
                dataType: "html", 
                success: function(data) {
                    var ans = jQuery.parseJSON(data)
                    $('#chasersTime').text(ans[0]);
                    $('#churchkeyTime').text(ans[1]);
                    $('#cityTime').text(ans[2]);
                    $('#dannysTime').text(ans[3]);
                    $('#lucksTime').text(ans[4]);
                    $('#sconniesTime').text(ans[5]);
                    $('#bratsTime').text(ans[6]);
                    $('#doubleuTime').text(ans[7]);
                    $('#kollegeKlubTime').text(ans[8]);
                    $('#wandosTime').text(ans[9]);
                    $('#WhiskeyJacksTime').text(ans[10]);
                }
            });
        });

        $(document).ready(function() {
            $.ajax({
                type: "GET", 
                url: "../dynamics/acceptanceRate.php", 
                dataType: "html", 
                success: function(data) {
                    var ans = jQuery.parseJSON(data)
                    $('#chasersAccept').text(ans[0]);
                    $('#churchkeyAccept').text(ans[1]);
                    $('#cityAccept').text(ans[2]);
                    $('#dannysAccept').text(ans[3]);
                    $('#lucksAccept').text(ans[4]);
                    $('#sconniesAccept').text(ans[5]);
                    $('#bratsAccept').text(ans[6]);
                    $('#doubleuAccept').text(ans[7]);
                    $('#kollegeKlubAccept').text(ans[8]);
                    $('#wandosAccept').text(ans[9]);
                    $('#WhiskeyJacksAccept').text(ans[10]);
                }
            });
        });
    </script>
</body>
</html>