<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBar</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <!--Header containing logo, name, and horizontal line-->
    <header>
        <div class="header-content">
            <img id="logo" src="../images/Capital.png" alt="Capitol">
            <div class="head-text">
                <p id="UBar">&nbsp;UBar-</p>
                <p id="Madison">&nbsp;Madison</p>
            </div>
            <hr>
        </div>
    </header>

</body>
</html>