<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBar</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />"
</head>
<body>
    <!-- Header containing logo, name, and horizontal line -->
    <header>
        <div class="header-content">
            <img id="logo" src="../images/Capital.png" alt="Capitol">
            <div class="head-text">
                <p id="UBar">UBar-</p>
                <p id="Madison">&nbsp;Madison</p>
            </div>
            <hr class="break">
        </div>
    </header>

    <!-- Section to get user to add their own input -->
    <div class="text">
        <p><center>Add Your Experience Here!</center></p>
        <div class="button">
            <button id="insert-input">ADD</button>
        </div>
    </div>

    <br>

    <!-- List containing most popular bars, hardcoded for now -->
    <div class="section-content">
        <img id="logo" src="../images/Chasers.png" alt="Chasers">
        <div class="text-container">
            <p>Chasers 2.0</p> 
            <p>408 W Gorham St, Madison, WI, 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <p class="graph-text-container">"30%" Accepted</p>

        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"50" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Churchkey.png" alt="Churchkey">
        <div class="text-container">
            <p>Churchkey Bar and Grill</p> 
            <p>626 University Ave, Madison, WI, 53715</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <p class="graph-text-container">"60%" Accepted</p>

        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"45" minutes</span>   
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/City.png" alt="City">
        <div class="text-container">
            <p>City Bar</p> 
            <p>636 State St, Madison, WI, 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <p class="graph-text-container">"50%" Accepted</p>

        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"20" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Dannys.png" alt="Dannys">
        <div class="text-container">
            <p>Danny's Pub</p> 
            <p>328 W Gorham St, Madison, WI 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <p class="graph-text-container">"55%" Accepted</p>
    
        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"35" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Jordans.png" alt="Jordans">
        <div class="text-container">
            <p>Jordan's Big Ten Pub</p> 
            <p>1330 Regent St, Madison, WI 53715</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <p class="graph-text-container">"95%" Accepted</p>
    
        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"5" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Luckys.png" alt="Luckys">
        <div class="text-container">
            <p>Lucky's 1313 Brew Pub</p> 
            <p>1313 Regent St, Madison, WI 53715</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <p class="graph-text-container">"85%" Accepted</p>
    
        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"15" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Mondays.png" alt="Mondays">
        <div class="text-container">
            <p>Monday's Bar</p> 
            <p>523 State St, Madison, WI 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <p class="graph-text-container">"25%" Accepted</p>
    
        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"35" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Sconnies.png" alt="Sconnies">
        <div class="text-container">
            <p>Sconnie Bar</p> 
            <p>1421 Regent St, Madison, WI, 53711</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <p class="graph-text-container">"90%" Accepted</p>

        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"15" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Brats.png" alt="Brats">
        <div class="text-container">
            <p>State Street Brats</p> 
            <p>603 State St 1015, Madison, WI, 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <p class="graph-text-container">"70%" Accepted</p>

        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"25" minutes</span>    
    </div>
    
    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/DoubleU.png" alt="DoubleU">
        <div class="text-container">
            <p>The Double U</p> 
            <p>620 University Ave, Madison, WI 53715</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <p class="graph-text-container">"15%" Accepted</p>
    
        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"45" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/KollegeKlub.png" alt="KollegeKlub">
        <div class="text-container">
            <p>The Kollege Klub</p> 
            <p>529 N Lake St, Madison, WI 53703</p><br >
            <p>Accepted or Denied?</p><br >
        </div>
            
        <!-- Bar Graph -->
        <p class="graph-text-container">"25%" Accepted</p>
    
        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"45" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/Wandos.png" alt="Wandos">
        <div class="text-container">
            <p>Wando's Bar and Grill</p> 
            <p>602 University Ave, Madison, WI 53715</p><br>
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <p class="graph-text-container">"40%" Accepted</p>

        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"30" minutes</span>    
    </div>

    <hr class="light-break">

    <div class="section-content">
        <img id="logo" src="../images/WhiskeyJacks.png" alt="WhiskeyJacks">
        <div class="text-container">
            <p>Whiskey Jack's Saloon</p> 
            <p>552 State St, Madison, WI 53703</p><br>
            <p>Accepted or Denied?</p><br >
        </div>
        
        <!-- Bar Graph -->
        <p class="graph-text-container">"10%" Accepted</p>

        <!-- Wait time -->
        <span class="text-container">Wait Time:</span>
        <span class="time-text-container">"40" minutes</span>    
    </div>

    <hr class="light-break">
    
    <body>
        <footer>
            <div class ="footerContainer">
                <div class="socialIcons">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="footerNav">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            <div class="footerBottom">
                <p><span class="designer">UBar- Madison</span></p>
            </div>
        </div>
    </body>

</body>
</html>